.grid-container {
        display: grid;
        border: 2px solid #000;
        gap: 10px;
      }
      .grid-item {
        border: 1px solid #000;
        color: #fff;
        background-color: aqua;
        padding: 20px;
        text-align: center;
      }