.box {
  width: 100px;
  height: 100px;
  background-color: #9b59b6;
  animation: slideRight 1.5s ease-in-out 2s infinite;
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}
