@media (min-width: 1200px) {
        .container {
          width: 1000px;
        }
      }
      @media (max-width: 1200px) and (min-width: 600px) {
        .container {
          width: 80%;
        }
      }
      @media (max-width: 600px) {
        .container {
          width: 100%;
        }
      }