.container {
        display: flex;
        border: 1px solid black;
        flex-wrap: wrap;
      }
      .card {
        border: 1px solid red;
      }
      @media (min-width: 1000px) {
        .container {
          flex-direction: row;
          justify-content: space-between;
          text-align: center;
        }
      }
      @media (min-width: 600px) and (max-width: 1000px) {
        .card {
          flex: 0 0 50%;
          box-sizing: border-box;
          text-align: center;
        }
        .container {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      @media (max-width: 600px) {
        .container {
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
        }
      }