.container2,
.container1 {
  display: inline-flex;
}
.item4 {
  background-color: red;
  margin: 10px;
  padding: 10px;
}
.item5 {
  background-color: green;
  margin: 9px;
  padding: 9px;
}
.item6 {
  background-color: blue;
  margin: 8px;
  padding: 8px;
}
.item1 {
  background-color: blueviolet;
  margin: 7px;
  padding: 7px;
}
.item2 {
  background-color: rosybrown;
  margin: 6px;
  padding: 6px;
}
.item3 {
  background-color: yellow;
  margin: 5px;
  padding: 5px;
}
