.btn {
        background-color: aquamarine;
        padding: 15px 40px;
        margin: 0 50px;
        border-radius: 15px;
        box-shadow: 4px 5px 9px 1px rgb(93, 83, 83);
      }
      .buttons .btn:hover {
        background-color: green;
        transition: 1s;
      }